<form action="/answer" data-turbo="false">
<div class="container" >
<div class="form-group text-center">
  <input type="text" name="message">
  <input type="submit" class="btn btn-primary" value="Ask!">
  </div>
  </div>
</form>
